.navbar-brand {
  font-weight: 600;
}

.navbar-brand img {
  max-width: 35px;
  margin-right: 10px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav .nav-link.active {
  color: #FFBD3E;
}